<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- <typeAlias type="kr.co.goodee39.vo.BBSVO" alias="bbsVO"/> -->
		<typeAlias type="kr.co.goodee39.vo.MemberVO" alias="memberVO"/>
		<typeAlias type="kr.co.goodee39.vo.CarInfoVO" alias="carInfoVO"/>
		<typeAlias type="kr.co.goodee39.vo.DrivingTypeVO" alias="drivingVO"/>
		<typeAlias type="kr.co.goodee39.vo.EngineTypeVO" alias="engineVO"/>
		<typeAlias type="kr.co.goodee39.vo.ExColorTypeVO" alias="excolorVO"/>
	</typeAliases>
</configuration>